@model GAP.Models.PurchasingReceptionist

@{
    ViewData["Title"] = "Create";
}


<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3);" id="features" aria-label="featured game">



            <div class="adfrmcontainer">
                <h1 class="form-header"> ADD PurchasingReceptionist</h1>

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control   " style="background-color: transparent; border: 1px solid white" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" class="form-control  " style="background-color: transparent; border: 1px solid white" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="FirstName" class="form-control  " style="background-color: transparent; border: 1px solid white" placeholder="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control  " style="background-color: transparent; border: 1px solid white" placeholder="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>


                    <div class="BTNS">

                        <a asp-for="UserID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>

                </form>
            </div>


        </section>

    </article>
</main>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
