@model GAP.Models.RapportTestQualite

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RapportTestQualite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ValiditeEtat" /> @Html.DisplayNameFor(model => model.ValiditeEtat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ValiditeNbrPiece" /> @Html.DisplayNameFor(model => model.ValiditeNbrPiece)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ValiditeFonctionnement" /> @Html.DisplayNameFor(model => model.ValiditeFonctionnement)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DevisId" class="control-label"></label>
                <select asp-for="DevisId" class="form-control" asp-items="@ViewBag.DevisList"></select>
                <span asp-validation-for="DevisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
