@model GAP.Models.DemandeAchat

@{
    ViewData["Title"] = "Edit";
}

<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3); margin-top:250px;" id="features" aria-label="featured game">

            <div class="frmcontainer" style="width:550px;">

                <h1 class="form-header">EDIT Demande Achat</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DemandeAchatID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
                    <div class="BTNS">

                        <a asp-for="UserID"> <input type="submit" value="Save" class="SUB-button" /></a>
                        <a asp-action="Delete" asp-route-id="@Model.DemandeAchatID"><input type="button" class="DEL-button" value="Delete"> </a>
                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>


        </section>

    </article>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

