@model GAP.Models.ReceptionReport

@{
    ViewData["Title"] = "Edit";
}

<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 class="form-header">EDIT Rapport Reception</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReceptionReportID" />
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasingReceptionistId" class="control-label"></label>
                <select asp-for="PurchasingReceptionistId" class="form-control" asp-items="ViewBag.PurchasingReceptionistId"></select>
                <span asp-validation-for="PurchasingReceptionistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseQuoteId" class="control-label"></label>
                <input asp-for="PurchaseQuoteId" class="form-control" />
                <span asp-validation-for="PurchaseQuoteId" class="text-danger"></span>
            </div>
                    <div class="BTNS">

                        <a asp-for="UserID"> <input type="submit" value="Save" class="SUB-button" /></a>
                        <a asp-action="Delete" asp-route-id="@Model.ReceptionReportID"><input type="button" class="DEL-button" value="Delete"> </a>
                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>


</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
