@model GAP.Models.PurchaseQuote

@{
    ViewData["Title"] = "Create";
}
<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 class="form-header">ADD PurchaseQuote</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Add the hidden field for SaleOfferID *@
            <input type="hidden" asp-for="SaleOfferID" value="@ViewBag.SaleOfferID" />

            <div class="form-group">
                <label asp-for="ReceptionDate" class="control-label"></label>
                <input asp-for="ReceptionDate" type="date" class="form-control" />
                <span asp-validation-for="ReceptionDate" class="text-danger"></span>
            </div>


                    <div class="BTNS">

                        <a asp-for="PurchaseQuoteID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>

</div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
