@model GAP.Models.SaleOffer

@{
    ViewData["Title"] = "Create";
}

<div class="pcontainer" style="width: 600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">
                <h1 class="form-header">ADD Sales Offer</h1>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Add the hidden field to store the PurchaseRequestID -->
                    <input type="hidden" asp-for="PurchaseRequestId" />
                    <div class="form-group">
                        <label asp-for="UnitProfit" class="control-label"></label>
                        <input asp-for="UnitProfit" class="form-control" placeholder="unit_profit" />
                        <span asp-validation-for="UnitProfit" class="text-danger"></span>
                    </div>
                    <!-- Add the dropdown menu for selecting products -->
                    <div class="form-group">
                        <label asp-for="SelectedProductId" class="control-label"></label>
                        <select asp-for="SelectedProductId" asp-items="@ViewBag.ProductsWithoutSaleOffer" class="form-control"></select>
                        <span asp-validation-for="SelectedProductId" class="text-danger"></span>
                    </div>
                    <div class="BTNS">
                        <button type="submit" class="SUB-button">Save</button>
                        <a asp-action="Index" class="BTL-button">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}