@model GAP.Models.OffreVente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OffreVente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Add the hidden field to store the DemandeAchatID -->
            <input type="hidden" name="demandeAchatId" value="@ViewBag.DemandeAchatId" />
            <div class="form-group">
                <label asp-for="PrixTTL" class="control-label"></label>
                <input asp-for="PrixTTL" class="form-control" />
                <span asp-validation-for="PrixTTL" class="text-danger"></span>
            </div>
            <!-- Add the dropdown menu for selecting products -->
            <div class="form-group">
                <label asp-for="SelectedProduitId" class="control-label"></label>
                <select asp-for="SelectedProduitId" asp-items="@ViewBag.ProduitsWithoutOffreVente" class="form-control"></select>
                <span asp-validation-for="SelectedProduitId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
