@model GAP.Models.Bill

@{
    ViewData["Title"] = "Create";
}

<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 class="form-header">ADD Bill</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="PurchaseQuoteId" value="@ViewBag.PurchaseQuoteId" />

            <p>

                create a Bill for the PurchaseQuote N° = @ViewBag.PurchaseQuoteId

            </p>
   
                    <div class="BTNS">

                        <a asp-for="BillID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>


</div>
</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
