@model GAP.Models.Bill

@{
    ViewData["Title"] = "Delete";
}


<div class="pcontainer" style="width:600px;">
    <div class="main-body">
        <div class="card uprofile-details">
            <div class="card-body">

                <h1 style="text-align:center; color:white">Are you sure you want to delete this ?</h1>
                <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.PurchaseQuoteID)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PurchaseQuoteID)
        </dd>
    </dl>
    
                <form asp-action="Delete">

                    <div class="BTNS">

                        <a asp-for="BillID"><input type="submit" class="DEL-button" value="Delete"> </a>

                        <a asp-controller="Bills" asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>

                </form>
            </div>

</div>
</div>
</div>