@{
    ViewData["Title"] = "Home Page";
}

<!-- banner -->
<section class="banner_main">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="text-bg">
                    <h1>Digital Marketing Landing Page 2019</h1>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                        normal distribution of letters,
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-img">
                    <figure><img src="~/images/box_img.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
      </div>
   </header>
<!-- end banner -->
<!-- Projects -->
<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <span>About This Projects</span>
                    <h2>Gap Tech-ERP</h2>
                    <p>
                        gestionnaire achat produit , is a web project that help the company to manage the products and the suppliers of the company
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="projects_box ">
                            <figure><img src="~/images/projects_img.png" alt="#" /></figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end projects -->