 @if (!User.IsInRole("Admin"))
    {
<div class="main-content ">

    <div class="col-md-6">

    <section class="welcome">
    
                    <div class="text-bg">
                        <h1>G A P - tech</h1>
                           <p>
                               Gestionnaire Achat Produit (GAP) is a streamlined ERP system designed for Finatech, enhancing procurement from communication to quality oversight. Tailored for Finatech, GAP manages the entire purchase cycle, fostering collaboration, and ensuring quality. Its integrated testing maintains stringent standards, revolutionizing Finatech's procurement with efficiency and precision.
                           </p>                   
                    </div>
               

    </section>
    </div>
    <!-- business -->
    <div class="business">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <span>Increase your client for</span>
                        <h2>Better position of Business</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="business_box ">
                                <figure><img src="~/images/business_img.jpg" alt="#" /></figure>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believableThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                                <a class="read_more" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end business -->
    <!-- Projects -->
    <div class="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <span>Previous Projects</span>
                        <h2>Better position of Business</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="projects_box ">
                                <figure><img src="~/images/projects_img.png" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="projects_box ">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believableThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                                <a class="read_more" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end projects -->
    <!-- Testimonial -->
    <div class="section">
        <div class="container">
            <div id="" class="Testimonial">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>About Creator</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="Testimonial_box">
                            <i><a href="https://yahya.rabii.me/"><img src="~/images/profile.png" alt="#" class="icon-profile" /></a></i>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="Testimonial_box">
                            <h4> Yahya</h4>
                            <p>
                                A Moroccan software engineering student at EMSI school, is captivated by the world of technology. His fascination with new technologies drives him to spend countless hours learning and mastering them. He aspires to be a software engineer, recognizing the rewarding blend of business and technology in this field. Yahya acknowledges the hard work required to become an engineer but believes the investment is well worth it. With his dedication and passion, he is on track to make a meaningful impact in the dynamic realm of technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end Testimonial -->
    <!-- contact -->
    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <form class="main_form ">
                        <div class="row">
                            <div class="col-md-12 ">
                                <input class="form_contril" placeholder="Name " type="text" name="Name ">
                            </div>
                            <div class="col-md-12">
                                <input class="form_contril" placeholder="Phone Number" type="text" name=" Phone Number">
                            </div>
                            <div class="col-md-12">
                                <input class="form_contril" placeholder="Email" type="text" name="Email">
                            </div>
                            <div class="col-md-12">
                                <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    </div>
}

else{
  
}