@model GAP.Models.Produit

@{
    ViewData["Title"] = "Create";
}

<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3);" id="features" aria-label="featured game">

            <div class="frmcontainer">

                <h1 class="form-header">ADD Produit</h1>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrixUnitaire" class="control-label"></label>
                <input asp-for="PrixUnitaire" class="form-control" />
                <span asp-validation-for="PrixUnitaire" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePiece" class="control-label"></label>
                <input asp-for="NombrePiece" class="form-control" />
                <span asp-validation-for="NombrePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
          

                    <div class="BTNS">

                        <a asp-for="ProduitID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>


        </section>

    </article>pro
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
