:root {
    --primary-color: white;
    --secondary-color: rgb(61, 68, 73);
    --highlight-color: #3282b8;
    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;
    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;
    --dt-border-radius: 3px;
    --dt-background-color-container: #2a3338;
    --dt-border-color: var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color: var(--highlight-color);
    --dt-even-row-color: var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color: var(--secondary-color);
    --dt-input-color: var(--primary-color);
}

.material-icons {
    font-size: 16px;
}

.addatatable-container {
    font-family: sans-serif;
    border-bottom-style: double;
    position: absolute;
    color: var(--dt-text-color);
    font-size: 12px;
    overflow: auto;
    width: fit-content;
    min-width:1000px;
    left: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 250px;
    padding: 10px;
    background-color: rgb(31, 31, 31, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    table-layout: auto;    

}

    .addatatable-container .form-header {
        color: #0a2558;
    }

    .addatatable-container .adheader-tools {
        border-bottom: solid 1px var(--dt-border-color);
        padding: var(--dt-padding);
        padding-left: 0;
        display: flex;
        align-items: baseline;
    }

        .addatatable-container .adheader-tools .adsearch {
            width: 30%;
        }

            .addatatable-container .adheader-tools .adsearch .adsearch-input {
                position: relative;
                width: 100%;
                left: 10px;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                background-color: var(--dt-input-background-color);
                display: block;
                box-sizing: border-box;
                border: solid 1px var(--dt-border-color);
                background: rgb(31, 31, 31, 0.068);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border: 1px solid rgba(255, 255, 255, 0.048);
                box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
                border-radius: 10px;
                color: #05355b;
            }
.adsearch-input::placeholder {
    color: #05355b;
    font-size:12px;
    font-weight:600;
}

.addatatable-container .adheader-tools .adtools {
    width: 70%;
}

            .addatatable-container .adheader-tools .adtools ul {
                margin: 0;
                position: relative;
                justify-content: center;
                align-items: baseline;
            }

                .addatatable-container .adheader-tools .adtools ul li {
                    margin: 0 var(--dt-padding-xs);
                    align-items: center;
                    display: inline-block;
                }

    .addatatable-container .adfooter-tools .list-items {
        width: 50%;
    }

    .addatatable-container .adfooter-tools .adpages {
        margin-left: auto;
        margin-right: 0;
        width: 50%;
    }

        .addatatable-container .adfooter-tools .adpages ul {
            margin: 0;
            padding: 0;
            align-items: baseline;
            justify-content: center;
        }

            .addatatable-container .adfooter-tools .adpages ul li {
                display: inline;
                margin: 0 var(--dt-padding-xs);
            }

                .addatatable-container .adfooter-tools .adpages ul li button,
                .addatatable-container .adheader-tools .adtools ul li button {
                    color: var(--dt-text-color-button);
                    width: 100%;
                    box-sizing: border-box;
                    border: 0;
                    border-radius: var(--dt-border-radius);
                    background: transparent;
                    cursor: pointer;
                }

                    .addatatable-container .adfooter-tools .adpages ul li button:hover,
                    .addatatable-container .adheader-tools .adtools ul li button:hover {
                        background: var(--dt-bg-active-button);
                        color: var(--dt-text-color-active-button);
                    }

                .addatatable-container .adfooter-tools .adpages ul li span.active {
                    background-color: var(--dt-bg-color);
                    border-radius: var(--dt-border-radius);
                }

                .addatatable-container .adfooter-tools .adpages ul li button,
                .addatatable-container .adfooter-tools .adpages ul li span,
                .addatatable-container .adheader-tools .adtools ul li button {
                    padding: var(--dt-padding-s) var(--dt-padding);
                }

    .addatatable-container .addatatable {
        border-collapse: collapse;
        width: 100%;
    }

        .addatatable-container .addatatable,
        .addatatable-container .addatatable th,
        .addatatable-container .addatatable td {
            padding: var(--dt-padding) var(--dt-padding);
            
        }

            .addatatable-container .addatatable th {
                font-weight: bolder;
                text-align: left;
                border-bottom: solid 2px var(--dt-border-color);
            }

            .addatatable-container .addatatable td {
                border-bottom: solid 1px var(--dt-border-color);
                max-width: 3px; /* You can adjust this value as needed */
            }

            .addatatable-container .addatatable tbody tr .available::after,
            .addatatable-container .addatatable tbody tr .away::after,
            .addatatable-container .addatatable tbody tr .offline::after {
                display: inline-block;
                vertical-align: middle;
            }

            .addatatable-container .addatatable tbody tr .available::after {
                content: "Online";
                color: var(--dt-status-available-color);
            }

            .addatatable-container .addatatable tbody tr .away::after {
                content: "Away";
                color: var(--dt-status-away-color);
            }

            .addatatable-container .addatatable tbody tr .offline::after {
                content: "Offline";
                color: var(--dt-status-offline-color);
            }

            .addatatable-container .addatatable tbody tr .available::before,
            .addatatable-container .addatatable tbody tr .away::before,
            .addatatable-container .addatatable tbody tr .offline::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                margin-right: 10px;
                border-radius: 50%;
                vertical-align: middle;
            }

            .addatatable-container .addatatable tbody tr .available::before {
                background-color: var(--dt-status-available-color);
            }

            .addatatable-container .addatatable tbody tr .away::before {
                background-color: var(--dt-status-away-color);
            }

            .addatatable-container .addatatable tbody tr .offline::before {
                background-color: var(--dt-status-offline-color);
            }


    .addatatable-container .adheader-tools .adpagination-container {
        padding: var(--dt-padding);
        padding-left: 0;
        position: relative;
        right: 30%;
    }