/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

/*=============== VARIABLES ===============*/

:root {
    --accent-color: rgb(255, 255, 255);
}

/*=============== BASE ===============*/

.adfrmcontainer {
    font-family: sans-serif;
    border-bottom-style: double;
    position: absolute;
    color: var(--dt-text-color);
    font-size: 12px;
    overflow: auto;
    width: fit-content;
    min-width: 500px;
    left: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    padding: 10px;
    background-color: rgb(31, 31, 31, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    table-layout: auto;

}

.adfrmcontainer .form-group {
    color: #0a2558;
    background-color: transparent;
}

    .adfrmcontainer .form-check .form-check-input {
        border: 1px solid #0a2558;
        position: relative;
    }

        .adfrmcontainer .form-check .form-check-input:checked,
        .adfrmcontainer .form-check .form-check-input:active {
            background-color: #0a2558;
            color: #0a2558;
            border-color: #0a2558; /* Optional: Set border color to match */
        }



    .adfrmcontainer .form-header {
        color: #0a2558;
    }
    .adfrmcontainer .form-group input {
        color: #0a2558;
        background-color: transparent;
        border: 1px solid white
    }
        .adfrmcontainer .form-group input::placeholder {
            color: #05355b;
            font-size: 12px;
            font-weight: 600;
        }

/*=============== BUTTON ===============*/
.BTNS {
    display: inline-block;
    justify-content: space-between;
}

.SUB-button {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    color: #05355b;
    height: 40px;
    background: rgb(107, 196, 190);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}
.DEL-button,
.DET-button,
.EDI-button,
.BTL-button {
    padding: 10px;
    position: relative;
    display: inline-block;
    flex: 1;
    border-radius: 10px;
    color: white;
    height: 40px;
    background: #05355b;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}



.SUB-button:hover {
    background: rgb(67, 238, 228);
    transition-duration: 0.5s;
    color: black;
}

    .DEL-button:hover {
        background: rgba(255, 0, 0, 0.26);
        transition-duration: 0.5s;
        color: black;
    }

    .EDI-button:hover {
        background: rgb(229, 255, 0);
        transition-duration: 0.5s;
        color: black;
    }

    .DET-button:hover {
        background: rgb(0, 68, 114);
        transition-duration: 0.5s;
        color: black;
    }

.BTL-button:hover {
    background: #ec7b4e;
    transition-duration: 0.5s;
    color: rgb(46, 66, 139);
}

/*=============== MEDIA QUERY ===============*/

@media only screen and (max-width: 200px) {
    /* For mobile phones: */
    body {
        padding: 20px;
    }

    .frmcontainer {
        padding: 20px;
    }

    #frmcheckbox-section {
        column-count: 1;
        column-gap: 0px;
    }
}
