.sectiong {
    padding-block: 10%;
    display: flex;
}
.sectiongame {
    padding-block: 10%;
    display: inline-grid;
}

.featured-games {
    background-color: white;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin: auto;
    grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
}

@media (min-width: 10px) {
    .featured-games {
        position: relative;
        grid-template-columns: repeat(4, 1fr); /* 4 columns on screens smaller than 900px */
    }
}

@media (max-width: 100px) {
    .featured-games {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on screens smaller than 600px */
        position: relative;
    }
}


@media (min-width: 10px) {
    .card {
        width: 25%;
        margin-left:20%;
        position: relative;
    }
}


.card {
    background: #313131;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
    position: page;
    display: grid;
    object-fit: contain;
    width: 300px;
    height: 350px;
    margin-left: 5px;
    margin-bottom: 20px;



    overflow: hidden;
}

.imgo {
    height: 100%;
    border-radius: 30px;
    width: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

    .textBox > .text {
        font-weight: bold;
    }

    .textBox > .head {
        font-size: 20px;
    }

    .textBox > .price {
        font-size: 17px;
    }

    .textBox > span {

        font-size: 20px;
        color: white;
    }

.card:hover > .textBox {
    opacity: 1;
}

.card:hover > .imgo {
    height: 100%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04);
}


.addgus {
    display: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
}

    .addgus:active {
        transform: scale(.9);
        transition: all 100ms ease;
    }

    .addgus svg {
        transition: all .5s ease;
        z-index: 2;
    }

.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}

.addgus:hover svg {
    transform: scale(3) translate(50%);
}

.now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
}

.addgus:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
}

.addgus:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}



.inputbox {
    position: relative;
    width: 80px;
    left:12px;
    border-radius: 30px;
    align-content:center;
}

    .inputbox input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        outline: none;
        box-shadow: none;
        border: none;
        color: #23242a;
        font-size: 18px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
    }

    .inputbox i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: hsl(49deg 98% 60%);
        border-radius: 4px;
        transition: 0.5s;
        pointer-events: none;
        z-index: 9;
    }

    .inputbox input:valid ~ i,
    .inputbox input:focus ~ i {
        height: 44px;
    }






    .cardinfo {
  width: 1500px;
  height: 350px;
  background-color:aliceblue;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.form-items {
    z-index: 1;
    color: white;
}

.cardinfo::before {
  content: '';
  position: relative;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 1300%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(200deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cardinfo::after {
    content: '';
    position: absolute;
    background: hsl(280, 11%, 11%);
    inset: 5px;
    border-radius: 15px;
}  
 .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
}



.ordinputbox {
    display: flex;
    justify-content: center;
    position:relative;
    flex-direction: row;
    top:100px;
}

.EDIord-button {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    BORDER-RADIUS: 10PX;
    position: relative;
    min-width: auto;
    color: white;
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
    position: relative;
    margin-left: 10px;
}


.EDIord-button:hover {
    background: rgb(229, 255, 0);
    transition-duration: 0.5s;
    color: black;
}




