
.pcontainer .form-group input {
    color: #0a2558;
}


    .pcontainer .form-group input::placeholder {
        color: dimgray;
    }


.pcontainer .form-header {
    color: #0a2558;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center;
    margin-bottom: 15px;
}


.pcontainer {
    font-family: sans-serif;
    border-bottom-style: double;
    position: relative;
    color: var(--dt-text-color);
    font-size: 12px;
    overflow: auto;
    width: fit-content;
    left: 150px;
    margin-top: 60px;
    margin-bottom: -1000px;
    bottom: 600px;
    padding: 10px;
    background: rgb(30, 30, 30, 0.068);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    table-layout: auto;
}

.main-body {
    display: flex;
    justify-content: space-between; /* Arrange items side by side */
}

.profile-container {
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    margin-right: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.profile-card {
    text-align: center;
    background: rgb(10, 98, 168, 0.08);
    -webkit-backdrop-filter: blur(60px);
}

    .profile-card p {
        color: white;
    }

    .profile-card h4 {
        color: rgb(10, 37, 88);
    }

    .profile-card img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

.uprofile-details {
    flex: 1; /* Take remaining space */
    max-width: 600px;
    background: rgb(10, 98, 168, 0.08);
    -webkit-backdrop-filter: blur(60px);
}

.profile-details h6 {
    font-weight: bold;
    margin: 5px 0;
    color: rgb(10, 37, 88);
}

.profile-details .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


.texts {
    color: rgb(14, 53, 126);
    font-weight: 500;
}
