/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

/*=============== VARIABLES ===============*/

:root {
    --accent-color: rgb(255, 255, 255);
}

/*=============== BASE ===============*/


.frmcontainer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
    padding: 50px;
    BORDER-RADIUS: 10PX;
    color:gray;
}

.frminput-box {
    position: relative;
    margin: 10px 0;
    padding-bottom: 20px;
}

.frminput-text {
    width: 100%;
    height: 40px;
    padding: 0.375rem 0.75rem;
    margin-top: 0.5rem;
    font-size:20px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.068);

}

.form-header {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: white;
}


select option {
    color: white;
}


.frminput-checkbox {
    padding: 5px 10px;
}

frminput {
    margin-right: 10px;
    accent-color: var(--accent-color);
    min-height: 1rem;
    min-width: 1rem;
}

    input::placeholder,
    textarea::placeholder {
        opacity: 0.5;
        color: #fff;
    }

#comment {
    height: 5rem;
    min-height: 2.5rem;
}

/*=============== BUTTON ===============*/

.BTNS{
    position: relative;
    width:1000px;
}
.SUB-button, .DEL-button, .DET-button, .EDI-button, .BTL-button {
    width: auto;
    padding-left:5px;
    padding-right:5px;
    BORDER-RADIUS: 10PX;
    position:relative;
    min-width:auto;
    color:white;
}



.SUB-button {
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}

    .SUB-button:hover {
        background: rgba(0, 255, 13, 0.26);
        transition-duration: 0.5s;
        color: black;
    }

/*------------------------------------------*/
.DEL-button {
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}

    .DEL-button:hover {
        background: rgba(255, 0, 0, 0.26);
        transition-duration: 0.5s;
        color: black;
    }

/*------------------------------------------*/
.EDI-button {
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}

    .EDI-button:hover {
        background: rgb(229, 255, 0);
        transition-duration: 0.5s;
        color: black;
    }



/*------------------------------------------*/
.DET-button {
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}

    .DET-button:hover {
        background: rgb(0, 68, 114);
        transition-duration: 0.5s;
        color: black;
    }



/*------------------------------------------*/

.BTL-button {
    height: 40px;
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.048);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.192);
    transition-duration: 0.5s;
}

    .BTL-button:hover {
        background: rgba(189, 170, 0, 0.26);
        transition-duration: 0.5s;
        color: black;
    }



/*=============== MEDIA QUERY ===============*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        padding: 20px;
    }

    .frmcontainer {
        padding: 20px;
    }

    #frmcheckbox-section {
        column-count: 1;
        column-gap: 0px;
    }
}
