

/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- 
import Fonts 
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

/*****---------------------------------------- 1) 
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- 
import Files 
---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
}

.container {
    max-width: 1170px;
    position:relative;

}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    position: relative;
    padding-bottom:40%;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.titlepage {
    padding-bottom: 60px;
}

    .titlepage h2 {
        font-size: 40px;
        color: #2e3192;
        line-height: 40px;
        font-weight: bold;
        padding: 0;
        display: inline-block;
        text-transform: uppercase;
    }

.blue_light {
    color: #43eee4;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.text_align_left {
    text-align: left;
}

.text_align_right {
    text-align: right;
}

.text_align_center {
    text-align: center;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .loader img {
        width: 280px;
    }


/*-- header --*/

.header {
    background: transparent;
    width: 80%;
    height: 102px;
    padding: 0px 0;
    position: absolute;
  
}

.navigation.navbar {
    float: inline-start;
    padding: 0px;
    
}

.navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0px 25px;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

    .navigation.navbar-dark .navbar-nav .nav-link:focus,
    .navigation.navbar-dark .navbar-nav .nav-link:hover {
        color: #43eee4;
    }

    .navigation.navbar-dark .navbar-nav .active > .nav-link,
    .navigation.navbar-dark .navbar-nav .nav-link.active,
    .navigation.navbar-dark .navbar-nav .nav-link.show,
    .navigation.navbar-dark .navbar-nav .show > .nav-link {
        color: #43eee4;
    }

.di_no {
    display: none;
}

ul.email li {
    display: inline-block;
    padding-right: 45px;
}

    ul.email li:last-child {
        padding-right: 0;
    }

    ul.email li a {
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
    }

    ul.email li i {
        color: #fff;
        font-size: 19px;
        position: relative;
    }

    ul.email li a i span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 30px;
        background: #1ee1d6;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 19px;
        left: -7px;
        top: 1px;
    }


/** end header **/



/** banner section **/

.full_bg {
    background: url(../images/banner2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 100px;
}

.slider_main {
    padding-top: 10%;
}

.relative {
    position: relative;
    left: 0;
    right: 0;
    text-align: left;
    padding: 0;
    bottom: 0;
}

.carousel-item {
    height: 100%;
    width: 100%;
}



.dream_img figure {
    margin: 0;
}

#banner1 .carousel-indicators {
    display: none;
}

/** end banner section **/



/** footer **/

.footer {
    position: relative;
    margin-top: 100px;
    padding-top: 90px;
    background: #223781;
    text-align: center;
}

.form_subscri {
    margin-right: 31px;
}

.infoma {
    display: block;
    padding-bottom: 20px;
}

ul.commodo li {
    color: #fff;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    display: block;
}

.infoma h3 {
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    padding-bottom: 15px;
    text-transform: uppercase;
}

ul.menu_footer li a {
    color: #fff;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    display: block;
}

    ul.menu_footer li a:hover {
        color: #43eee4;
    }

ul.conta {
    padding-top: 12px;
}

    ul.conta li {
        color: #fff;
        text-align: left;
        padding-bottom: 15px;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
    }

        ul.conta li:last-child {
            padding-right: 0;
        }

        ul.conta li i {
            padding-right: 15px;
            text-align: center;
            font-size: 21px;
            color: #fff;
        }

        ul.conta li a {
            color: #fff;
        }

.copyright {
    margin-top: 50px;
    padding-bottom: 20px;
}

    .copyright p {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        font-weight: normal;
    }

    .copyright a {
        color: #fff;
    }

        .copyright a:hover {
            color: #43eee4;
        }


/** end footer **/


/**  inner page css **/

.inner_page .header {
    position: inherit;
    background: #2e3192;
    box-shadow: 0px 0px 9px 0px #2e3192;
    margin-bottom: 10px;
}

.hosting_page .footer {
    margin-top: 60px;
}



/*               */



.sidenav {
    overflow: hidden;
    position: fixed;
    transform: translateX(-100px);
    height: 70%;
    width: 300px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 150%;
}

    .sidenav.nav-open {
        transform: translateX(0px);
        border-radius: 0% 0% 0% 0%;
        background: rgba(255, 255, 255, 0.6);
    }

    .sidenav .menu-btn {
        position: fixed;
        top: 6%;
        right:1px;
        color: rgb(67, 238, 228);
        padding: 10;
        width: 30px;
        z-index: 2;
    }

        .sidenav .menu-btn .line {
            padding: 0;
            width: 30px;
            background: #fff;
            height: 2px;
            margin: 5px 0;
            transition: all 700ms cubic-bezier(.9, 0, .33, 1);
        }

            .sidenav .menu-btn .line.line--1 {
                width: 30px;
                transform: rotate(0) translateY(0);
            }

                .sidenav .menu-btn .line.line--1.line-cross {
                    width: 30px;
                    transform: rotate(45deg) translateY(10px);
                    background: rgba(0,0,0,0.6);
                }

            .sidenav .menu-btn .line.line--2 {
                width: 28px;
                transform: translateX(0);
            }

                .sidenav .menu-btn .line.line--2.line-fade-out {
                    width: 28px;
                    transform: translate(30px);
                    opacity: 0;
                }

            .sidenav .menu-btn .line.line--3 {
                width: 20px;
                transform: rotate(0) translateY(0);
            }

                .sidenav .menu-btn .line.line--3.line-cross {
                    width: 30px;
                    transform: rotate(-45deg) translateY(-10px);
                    background: rgba(0,0,0,0.6);
                }

    .sidenav .nav-links {
        margin-top: 50px;
        position: absolute;
        left: 0;
        top: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100px);
        opacity: 0;
        cursor: pointer;
        transition: all 900ms cubic-bezier(.9, 0, .33, 1);
    }

        .sidenav .nav-links.fade-in {
            opacity: 1;
            transform: translateX(0px);
        }

        .sidenav .nav-links .link {
            margin: 20px 0;
            text-decoration: none;
            font-family: sans-serif;
            color: black;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.2rem;
            transition: all 300ms cubic-bezier(.9, 0, .33, 1);
        }

            .sidenav .nav-links .link:hover {
                color: rgba(18, 156, 242, 0.8)
            }


.logout {
    top:10px;
    left :1000px;
    position :relative;
    display: inline;
    padding: 10px;
    border-radius: 20px;
    height: 30px;
    background: rgb(46, 66, 139);
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    overflow: hidden;
}

    .logout span {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: white;
        white-space: nowrap;
    }

    .logout:hover {
        color: rgb(46, 66, 139);
        background: rgb(67, 238, 228);
    }
.logo {
    position: fixed;
    top: 10px;
    left: 50px;
    width: 120px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
}
