@model GAP.Models.User

@{
    ViewData["Title"] = "Register";
}

<section class="section hero" id="home" aria-label="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-form-container">
                    <div class="form-container">
                        <form asp-action="Register" method="POST" novalidate="">
                            <div class="form-group text-center">
                                <label asp-for="Email">E-Mail Address</label>
                                <input asp-for="Email" class="form-control rounded-0" style="background-color: transparent; color:white;">
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control rounded-0" style="background-color: transparent;color:white;" data-eye>
                                <div class="invalid-feedback">Password is required</div>
                            </div>
                            <div class="form-group text-center">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control rounded-0" style="background-color: transparent; color:white;">
                                <div class="invalid-feedback">First Name is required</div>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" class="form-control rounded-0" style="background-color: transparent; color:white;">
                                <div class="invalid-feedback">Last Name is required</div>
                            </div>
                            <div class="form-group text-center">
                                <label asp-for="Tutulaire">Tutulaire</label>
                                <select asp-for="Tutulaire" class="form-control rounded-0" style="background-color: transparent; color:white;">
                                    <option value="RespServiceAchat">RespServiceAchat</option>
                                    <option value="RespServiceFinance">RespServiceFinance</option>
                                    <option value="RespServiceQualite">RespServiceQualite</option>
                                    <option value="ReceptServiceAchat">ReceptServiceAchat</option>
                                </select>
                                <div class="invalid-feedback">Tutulaire is required</div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-dark rounded-0 glow-on-hover" style="color:white; border: 1px solid white ;background-color: transparent">
                                    Register
                                </button>
                            </div>
                            <div style="display: flex;">
                                <span style="margin-right: 10px">Already have an account? </span>
                                <a asp-action="Login" style="color:yellow;">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
