@model GAP.Models.User

@{
    ViewData["Title"] = "Register";
}


<section class="section hero" id="home" aria-label="home">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-form-container">
                    <div class="form-container">
                        <form asp-action="Register" method="POST" novalidate="">

                            <div class="form-group  text-center">
                                <label asp-for="Email">E-Mail Address</label>
                                <input id="email" type="email"  name="email" value=""  class="form-control rounded-0"style="background-color: transparent;  color:white;">
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <label label asp-for="Password">Password </label>
                                <input id="password" type="password" class="form-control rounded-0"  style="background-color: transparent;color:white;"  name="password"  data-eye>
                                <div class="invalid-feedback"> Password is required </div>
                            </div>




                            <div class="form-group text-center">
                                <label label asp-for="FirstName">FirstName </label>
                                <input asp-for="FirstName" id="FirstName" type="text" class="form-control rounded-0"   style="background-color: transparent; color:white;" name="FirstName" value=" " data-eye>
                                <div class="invalid-feedback"> FirstName is required </div>
                            </div>


                            <div class="form-group">
                                <label label asp-for="LastName"> LastName </label>
                                <input asp-for="LastName" id="LastName" type="text" class="form-control rounded-0"  style="background-color: transparent; color:white;" name="LastName" value=" " data-eye>
                                <div class="invalid-feedback"> LastName is required </div>
                            </div>




                        





                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-dark rounded-0 glow-on-hover "
                                        style="color:white; border: 1px solid white ;background-color: transparent">
                                    Register
                                </button>
                            </div>



                            <div style="display: flex;">

                                <span style="margin-right: 10px">Already have an account? </span>
                                <button asp-action="Login" style="color:yellow;"> Login </button>
                            </div>
                      


                        </form>


                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <figure class="hero-banner img-holder">
            </figure>
        </div>
    </div>







</section>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



