@model GAP.Models.Devis

@{
    ViewData["Title"] = "Create";
}
<main>
    <article>
        <section class="sectiong featured-games" style="background-color: var(--raisin-black-3);" id="features" aria-label="featured game">

            <div class="frmcontainer" style="width:550px;">

                <h1 class="form-header">ADD Devis</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Add the hidden field for OffreVenteID *@
            <input type="hidden" asp-for="OffreVenteID" value="@ViewBag.OffreVenteID" />

            <div class="form-group">
                <label asp-for="DateReception" class="control-label"></label>
                <input asp-for="DateReception" class="form-control" />
                <span asp-validation-for="DateReception" class="text-danger"></span>
            </div>


                    <div class="BTNS">

                        <a asp-for="DevisID"> <input type="submit" value="Save" class="SUB-button" /></a>


                        <a asp-action="Index"> <input type="button" class="BTL-button" value="Back to List" /></a>

                    </div>
                </form>
            </div>


        </section>

    </article>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
