@model GAP.Models.Devis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Devis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DevisID" />
            <div class="form-group">
                <label asp-for="DateCreation" class="control-label"></label>
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateReception" class="control-label"></label>
                <input asp-for="DateReception" class="form-control" />
                <span asp-validation-for="DateReception" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="PrixTTL" class="control-label"></label>
                <input asp-for="PrixTTL" class="form-control" />
                <span asp-validation-for="PrixTTL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePiece" class="control-label"></label>
                <input asp-for="NombrePiece" class="form-control" />
                <span asp-validation-for="NombrePiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FournisseurID" class="control-label"></label>
                <select asp-for="FournisseurID" class="form-control" asp-items="ViewBag.FournisseurID"></select>
                <span asp-validation-for="FournisseurID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespServiceAchatId" class="control-label"></label>
                <select asp-for="RespServiceAchatId" class="form-control" asp-items="ViewBag.RespServiceAchatId"></select>
                <span asp-validation-for="RespServiceAchatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
